RewriteEngine On
Options -Indexes

RewriteRule ^beranda/?$ index.php [NC,L]
RewriteRule ^login/?$ index.php?r=login [QSA,L]
RewriteRule ^profile/?$ index.php?r=profile [QSA,L]
RewriteRule ^logout/?$ index.php?r=/auth/logout [QSA,L]

# RewriteCond $1 !^(index\.php|images|robots\.txt)
# RewriteRule ^(.*)$ /index.php/$1 [L]